export const assets = [{
    name: 'pbjs',
    tag: 'script',
    attributes: {
        src: `http://prebidjs.dev`,
        async: 'true'
    },

    app_path: 'http://prebidjs.dev',

    // timeouts in seconds
    timeout: {
        desktop: 1,
        mobile: 2
    }
}];
