export default {
    assets: [{
        name: 'pbjs',
        tag: 'script',
        attributes: {
            src: `http://prebidjs.dev/prebid.js`,
            async: 'true'
        }
    }],

    app_path: 'http://prebidjs.dev',

    // timeouts in seconds
    timeout: {
        desktop: 1,
        mobile: 2
    },

    expiration: {
        cache: 12, // number of hours
    }
};
